<!DOCTYPE html>
<html>
<head>
    <title>问吧</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/segment.css" />
    <script src="/javascripts/jquery1.11.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

</head>
<body style="padding-top: 0;">
<div style="width: 1024px; height: 3em; margin: 1em auto;">
    <span class="glyphicon glyphicon-comment" style="float: left; font-size: 2em;"><b>问吧</b></span>
    <ul class="horul">
        <li>问答</li>
        <li>文章</li>
        <li>笔记</li>
        <li>活动</li>
    </ul>
    <div style="float: right; line-height: 2em">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="请输入关键词" style="width: 240px; height: 30px;">
                    &nbsp;
                </td>

                <td>
                    <span class="glyphicon glyphicon-zoom-in" style="font-size: 1.5em; cursor: pointer;" />
                    &nbsp;&nbsp;
                </td>

                <% if (loginbean==undefined) { %>
                <td>
                    <input type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModal" href="./users/modal" value="登录/注册" />
                </td>

                <% } else { %>
                <td>
                    你好<%= loginbean.nickname %>
                    &nbsp;&nbsp;&nbsp;
                </td>

                <td>
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            撰写
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/question/ask">提问题</a></li>
                            <li><a href="#">写文章</a></li>
                            <li><a href="#">记笔记</a></li>
                            <li class="divider"></li>
                            <li><a href="#">草稿箱</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;
                    <input type="button" class="btn btn-success" value="注销" onclick="javascript:location.href='/logout'" />
                    &nbsp;&nbsp;&nbsp;
                </td>

                <% } %>

            </tr>
        </table>
    </div>
</div>
<div class="menu">
    <span><a href="/">home</a></span>
    <span>|</span>
    <span><a href="#">javascript</a></span>
    <span>php</span>
    <span>pathon</span>
    <span>java</span>
    <span>mysql</span>
    <span>ios</span>
    <span>android</span>
    <span>node.js</span>
    <span>html5</span>
    <span>lunux</span>
    <span>c++</span>
    <span>...</span>
</div>